<div>
    <ul>
        <li><a href='/'>Inicio</a></li>
        <li><a href='/contacto/'>Contacto</a></li>
        <li><a href='/productos/'>Productos</a></li>
        <li><a href='/plantilla/'>Uso de Plantilla</a></li>
        <li><a href='/datos/'>Paso de Variables a Vista</a></li>
        <li><a href='/captura/1'>Paso de parámetro numérico por URL</a></li>
        <li><a href='/captura/hola'>Paso de parámetro alfanumérico por URL</a></li>
        <li><a href='/articlos/2019/11/'>Paso de varios parámetros por URL</a></li>
        <li><a href='/incluye/'>Inclusión de plantillas unas con otras</a></li>


    </ul>
</div>