{% include "miapp/header.html" %}

<h2>{{ titulo }}</h2>

<div>
    <form action="{% url 'crud:delete-confirmation-product' producto.id %}" method="post">
        {% csrf_token %}
        <div>
            <label for="iden">ID</label>
            <input type="text" name="iden" id="iden" disabled
                   placeholder="introduzca nombre" value="{{  producto.id }}"/>
        </div>
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" disabled
                   placeholder="introduzca nombre" value="{{  producto.nombre }}"/>
        </div>
        <div>
            <label for="precio">Precio</label>
            <input type="number" name="precio" id="precio"
                   value="{{  producto.precio }}" disabled/>
        </div>
        <input type="submit" name="submit" id="submit" value="Borrar" class="btn btn-danger"/>
    </form>
    <p><a href="/crud/"><button type="button" class="btn btn-primary">Volver al listado</button></a></p>
</div>

{% include "miapp/footer.html" %}
