{% include "miapp/header.html" %}
<h2>{{ titulo }}</h2>

<div>
    <p><a href="{% url 'crud:add-form-product' %}"><button type="button" class="btn btn-primary">Añadir</button></a></p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Operaciones</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td scope="row">{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td>
                    <a href="{% url 'crud:show-product' producto.id %}"><button class="btn btn-primary">Mostrar</button></a>
                    <a href="{% url 'crud:edit-form-product' producto.id %}"><button class="btn btn-warning">Editar</button></a>
                    <a href="{% url 'crud:delete-form-product' producto.id %}"><button class="btn btn-danger">Borrar</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include "miapp/footer.html" %}