<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Productos</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'crud/estilos.css' %}" />
</head>
<body>
{% include "miapp/menu.html" %}
<h2>{{ titulo }}</h2>

<div>
    <p><a href="{% url 'crud:add-form-product' %}"><button>Añadir</button></a></p>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td>
                    <a href="{% url 'crud:show-product' producto.id %}"><button class="btn btn-primary">Mostrar</button></a>
                    <a href="{% url 'crud:edit-form-product' producto.id %}"><button>Editar</button></a>
                    <a href="{% url 'crud:delete-form-product' producto.id %}"><button>Borrar</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>