<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Géneros</title>
</head>
<body>
<p><a href="{% url 'biblioteca:genre-create' %}">Añadir</a></p>
{{ listado }}
<ul>
{% for genre in listado %}
    <li><a href="{% url 'biblioteca:genre-detail'  genre.id %}">{{ genre.name }}</a>: Operaciones:<a href="{% url 'biblioteca:genre-detail'  genre.id %}">Detalle</a><a href="{% url 'biblioteca:genre-update-form'  genre.id %}">Editar</a><a href="{% url 'biblioteca:genre-delete'  genre.id %}">Borrar</a></li>
{% empty %}
    <li>No hay Géneros todavía</li>
{% endfor %}
</ul>
</body>
</html>