{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<ul>
    <li><a href="{% url 'home:index' %}">Home</a></li>
    <li><a href="home/2">Enlace con numero</a></li>
    <li><a href="{% url 'home:detail' 2 %}">Enlace con numero v2</a></li>
    <li><a href="home/pepe">Enlace con nombre</a></li>
    <li><a href="{% url 'home:nombre' 'pepe' %}">Enlace con nombre v2</a></li>
    <li><a href="{% url 'polls:index' %}">Polls</a></li>
    <!-- Cambiar a un enlace nombrado por urls -->
    <li><a href="/libros">Libros</a></li>
    <li><a href="{% url 'genre-list' %}">Biblioteca</a></li>

    <li><a href="{% url 'genre-list2' %}">Biblioteca DataTable</a></li>
    <li><a href="{% url 'genre-list3' %}">Listado de Géneros</a></li>
    <li><a href="{% url 'home:devuelvejson' %}">Devuelve JSON</a></li>
    <li><a href="{% url 'tool-list' %}">Listado de Posts (MongoDB)</a></li>
    <li><a href="{% url 'snippet-list' %}">Listado de Snippets</a></li>
    <!-- Autenticación -->
    <li><a href="{% url 'rest_login' %}">Login</a></li>
    <li><a href="{% url 'rest_logout' %}">Logout</a></li>
</ul>
<h3>{{ titulo }}</h3>
<h2>Subtítulo</h2>